# Fill in your values here to use with example.py
SESSY_P1_HOST = "192.168.2.51"
SESSY_P1_USERNAME = "AABBCCDD"
SESSY_P1_PASSWORD = "EEFFGGHH"

SESSY_BATTERY_HOST = "192.168.2.52"
SESSY_BATTERY_USERNAME = "AABBCCDD"
SESSY_BATTERY_PASSWORD = "EEFFGGHH"